<div [style]="style" class="campo-container-dropdown">
  <label [style]="styleLabel">{{labelText}}</label>
  <p-dropdown #inputNativo
              appEnterKey
              [class]="classe"
              [styleClass]="classe"
              [required]="required"
              [filter]="filtro"
              [filterBy]="filterBy"
              [showClear]="showClear"
              [readonly]="readOnly"
              (keydown.enter)="enter.emit()"
              [placeholder]="placeholder"
              (onChange)="change.emit()"
              [(ngModel)]="texto"
              [style]="{'background-color': possuiCor ? corLabel : '', 'width': '100%'}"
              [options]="options"
              [autoDisplayFirst]="autoDisplayFirst"
              appendTo="body">
  </p-dropdown>
</div>


