.campo-container-texto {
  display: flex;
  vertical-align: middle;
}

.campo-container-texto > input{
  width: 100%;
}

label {
  font-size: 13px;
}

::ng-deep .p-checkbox .p-checkbox-box {
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  box-sizing: border-box;
  padding-left: 5px;
}
