<div class="painelMenu">
  <div class="tabMenuTopo">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-0" checked class="tab-switch">
      <label class="tab-label">Arquivo</label>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Principal</label>

      <ng-container [ngTemplateOutlet]="principal"></ng-container>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Cadastros</label>

      <ng-container [ngTemplateOutlet]="cadastros"></ng-container>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
      <label for="tab-3" class="tab-label">Financeiro</label>

      <ng-container [ngTemplateOutlet]="financeiro"></ng-container>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
      <label for="tab-4" class="tab-label">Estoque</label>

      <ng-container [ngTemplateOutlet]="estoque"></ng-container>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
      <label for="tab-5" class="tab-label">Ferramentas</label>

      <ng-container [ngTemplateOutlet]="ferramentas"></ng-container>
    </div>
  </div>
</div>

<ng-template #principal>
  <div class="grid" style="margin-top: 50px">
    <button disabled="true" type="button" class="botaoprincipal desabilitado">
      <img src="assets/icone-menu/home.png">
      <span>Primeiro</span>
    </button>
  </div>
</ng-template>

<ng-template #cadastros>
  <div class="tab-content">My father now and then sending me small sums of money,
    I laid them out in learning navigation, and other parts of the mathematics,
    useful to those who intend to travel, as I always believed it would be,
    some time or other, my fortune to do.
  </div>
</ng-template>

<ng-template #financeiro>
  <div class="tab-content">When I left Mr. Bates, I went down to my father:
    where, by the assistance of him and my uncle John, and some other relations,
    I got forty pounds, and a promise of thirty pounds a year to maintain me at
    Leyden: there I studied physic two years and seven months, knowing it would
    be useful in long voyages.
  </div>

</ng-template>

<ng-template #estoque>
  <div class="tab-content"> novembro, durante seis dias, especialistas em
    tecnologia da informação tentaram acessar o sistema das urnas a fim de
    identificar possíveis falhas de segurança. O trabalho reuniu investigadores,
    hackers, programadores, representantes de universidades e peritos
  </div>
</ng-template>

<ng-template #ferramentas>
  <div class="tab-content">Vinicius Junior marcou um triplete pela primeira
    vez na sua carreira, na vitória por 6 x 0 sobre o Levante. Três gols de
    Vini, que pediria música no Fantástico, se estivesse no Flamengo. Como
    está na Espanha, o adjetivo é para ele mesmo: Fantástico!
  </div>
</ng-template>
