<div class="campo-container-texto-linha" [style]="campoTextoStyle">
  <label [style]="styleLabel">{{labelText}}</label>

  <input #inputNativo
         pInputText
         [type]="type"
         [style]="style"
         [step]="step"
         [min]="min"
         [max]="max"
         [pattern]="pattern"
         [class]="classe"
         [id]="id"
         [required]="required"
         [readOnly]="readOnly"
         [disabled]="disabled"
         [maxlength]="maxlength"
         [placeholder]="placeholder"
         [(ngModel)]="texto">

  <label [style]="styleDescricao">{{labelDescricao}}</label>
</div>


