<div class="campo-container-texto" [style]="campoTextoStyle">
  <label [style]="classeLabel">{{labelText}}</label>
  <input #inputNativo
         pInputText
         appEnterKey
         [type]="type"
         [step]="step"
         [min]="min"
         [max]="max"
         [style]="style"
         [pattern]="pattern"
         [class]="classe"
         [id]="id"
         [required]="required"
         [readOnly]="readOnly"
         [disabled]="disabled"
         [maxlength]="maxlength"
         [placeholder]="placeholder"
         [(ngModel)]="texto">
</div>


