.campo-container-texto {
  display: inline-grid;
  width: 100%;
}

.campo-container-texto > input{
  width: 100%;
  padding-left: 5px !important;
}

label {
  font-size: 13px;
}

::ng-deep .p-inputtext {
  padding: 0 !important;
  font-size: 13px;
}
